/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    font-family: Arial, sans-serif;
  }

  form {
    width: 500px; /* フォームの幅を固定 */
    margin: 0; /* 余白をリセット */
    display: block; /* ブロック要素にする */
    text-align: left; /* フォーム内の要素を左揃え */
  }
  
  textarea {
    width: 100%; /* テキストエリアの幅をフォームに合わせる */
    resize: none; /* ユーザーがサイズ変更できないようにする */
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 5px; /* ラベルとテキストエリアの間に余白を追加 */
  }

   /* characterの画像設定 */
  .rounded-full {
    border-radius: 50%; /* 画像を丸く表示 */
    object-fit: cover; /* 縦横比を維持してカバー */
    width: 100px;
    height: 100px;
  }